
.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: .5rem;
    display: flex;
    background-color: #fff;
    .btn-item {
        text-decoration: none;
        flex: 1;
        font-size:11px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #999;
        .tab-icon {
            margin-bottom: 4px;
            width: 25px;
            height: 25px;
            background-size: cover;
        }
        .my {
                background-image: url('./img/myIcon.png');
        }
        .order {
                background-image: url('./img/orderIcon.png');
        }
        .home {
                background-image: url('./img/homeIcon.png');
        }
    }
    .btn-item.active{
         color: #000;
         .my{
            background-image: url('./img/myIconActive.png');
         }
         .order{
            background-image: url('./img/orderIconActive.png');
         }
         .home{
            background-image: url('./img/homeIconActive.png');
         }
    }
}