.list-content {
    overflow: hidden;
    padding-bottom: .5rem;
    .list-title {
        text-align: center;
        font-size:.16rem;
        margin-top: .3rem;
        margin-bottom: .05rem;
        color: #646464;
    }
    .title-line {
        display: inline-block;
        border-bottom: 1px solid #949494;
        height: .01rem;
        width: .3rem;
        margin-left: .04rem;
        margin-right: .04rem;
        margin-bottom: .04rem;
    }

}