.restanurant-content {
    background-color: #f6f6f6;
    overflow: hidden;
    .restanurant-basic {
        color: #2f2f2f;
        background-color: #fff;
        font-size: .14rem;
        margin-top: .1rem;
        padding-right: .1rem;
        padding-left: .15rem;
    }
    .res-section {
        padding-top: .15rem;
        padding-bottom: .15rem;
        border-bottom: 1px solid #f0f0f0;
        display: flex;
        &:before {
            display: block;
            content: '';
            margin-right: .2rem;
            width: .16rem;
            height: .16rem;
            background-size: cover;
        }
    }
    .restanurant-tel::before {
        width: .19rem;
        background-image: url('./img/tel.png');
    }
    .restanurant-addr::before {
        width: .19rem;
        background-image: url('./img/address.png');
    }
    .restanurant-send-time::before {
        background-image: url('./img/time.png');
    }
    .restanurant-send-type::before {
        background-image: url('./img/info.png');
    }
    .addr-wrap {
        display: flex;
    }
    .addr-text {
        flex: 1;
        line-height: .2rem;
        margin-top: -0.03rem;
    }
    .meituan-send {
        background-color: #ffd161;
        color: #333;
        font-size: .1rem;
        padding: .02rem;
        border-radius: .04rem;
        margin-right: .04rem;
    }
    .restanurant-pay-type::before {
        display: none;
    }
    .icon {
        width: .17rem;
        height: .17rem;
        margin-right: .2rem;
    }
}