.r-item-content {
    display: flex;
    padding-top:.15rem;
    padding-bottom:.15rem;
    margin-left: .1rem;
    margin-right: .1rem;
    color: #656565;
    position:relative;
    &:after {
        background-color: #e4e4e4;
    }
    .item-img {
        width: .86rem;
        height: .65rem;
        border: 1px solid #e4e4e4;
    }
    .item-info-content {
        flex: 1;
        margin-left: .07rem;
        overflow: hidden;
    }
    .brand {
        position: absolute;
        left: .01rem;
        top: .16rem;
        font-size: .12rem;
        padding: .02rem;
        color: #fff;
    }
    .brand-pin {
        background-color: #ffa627;
    }
    .brand-xin {
        background-color: #21c56c;
    }
    .item-title {
        margin-top: .03rem;
        font-size: .16rem;
        font-weight: 500;
        color: #333;
    }
    .item-desc {
        margin-top: .13rem;
        font-size: .12rem;
    }

    .item-score {
        float: left;
    }
    .item-count {
        float: left;
        margin-left: (5px);
    }
    .item-time {
        float: right;
    }
    .item-distance {
        float: right;
    }
    .item-price {
        margin-top: .1rem;
        font-size: .12rem;
        height: .24rem;
    }
    .item-meituan-flag {
        float: right;
        background-color: #ffd161;
        color: #000;
        padding: .03rem;
        border-radius: .03rem;
    }
    .other-info {
        color: #898989;
        margin-top: .07rem;
        font-size: .12rem;
        display: flex;
    }
    .other-tag {
        width: .14rem;
        height: .14rem;
    }
    .other-content {
        vertical-align: .03rem;
        margin-left: .03rem;
        height: .14rem;
        width: 2.3rem;
    }
    .item-pre-price {
        float: left;
    }

}