.detail {
    .mask {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(0,0,0,0.7);
    }
    .tab-bar {
        font-size: .16rem;
        display: flex;
        border-top: 0.01rem solid rgb(214, 214, 214);
        justify-content: space-around;
        background: #fff;
        .tab-item {
            flex: 1;
            height: .45rem;
            line-height: .45rem;
            position: relative;
            color: #666;
            text-align: center;
            text-decoration: none;
            &.active {
                &:after {
                    content: '';
                    display: block;
                    height: .04rem;
                    width:.6rem;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    background-color: #ffd161;
                }
            }
        }
    }
    
}